.heading {

  width: 100%;
  //padding-top: 1em;
  //border: none;
  font-family: Merriweather, georgia, serif;
  font-size: 2rem;

  &__um {
    padding-top: $gutter;
    padding-bottom: $gutter;
  }

  &--one {
    font-size: 3rem;
  }

  &--two {
    padding-top: 9em;
    font-size: 2rem;
  }

  &--three {
    font-size: 1rem;

    &__um {
      font-size: 2.5rem;
    }
  }
}
