@charset "UTF-8";
/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  margin-right: 20px;
  margin-left: 20px;
  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    html {
      margin: 0; } }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

.check-img {
  width: 2em;
  vertical-align: text-bottom; }

.profile-img {
  border-radius: 200%; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden; }

input[type=text] {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

legend {
  padding-bottom: 20px; }

select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

.year {
  padding-left: 20px; }

.payment-method {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

.confirm-button {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px; }

.buy-now {
  padding-top: 2em;
  padding-bottom: 8em;
  text-align: center; }

.buy-now a {
  margin-top: 2em; }

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 2rem;
  text-align: center;
  background-color: #333; }

.footer p {
  color: #fff; }

.copyright {
  border-top: 1px solid #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  opacity: 0.8; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  .col-8 {
    width: 66.66667%; }
  .col-6 {
    width: 50%; }
  .col-4 {
    width: 33.33333%; }
  .col-3 {
    width: 25%; }
  @media (max-width: 599px) {
    .col-sm-12 {
      width: 100%; }
    .col-sm-6 {
      width: 50%; }
    .col-sm-3 {
      width: 25%; } }

.offset-2 {
  margin-left: 8.33333%; }

@media (max-width: 599px) {
  .offset-sm-0 {
    margin-left: 0; } }

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%; } }

.header {
  height: 800px;
  background: url("bg.jpg") no-repeat fixed;
  background-color: transparent;
  background-position: 50% 50%;
  background-size: cover;
  margin-bottom: 100px; }
  .header__sb {
    height: 400px;
    background: url("bg-subpage.jpg") no-repeat fixed;
    background-color: transparent;
    background-position: 50% 50%;
    background-size: cover;
    margin-bottom: 100px; }

@-webkit-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fade-1 {
  opacity: 0;
  animation: fade ease-in-out 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 1s; }

.fade-2 {
  opacity: 0;
  animation: fade ease-in-out 1;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: 2s; }

.fade-3 {
  opacity: 0;
  animation: fade ease-in-out 1;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-delay: 4s; }

.header-items {
  text-align: center; }
  .header-items__sb {
    text-align: left;
    text-shadow: 1px 1px #333;
    color: #fff;
    padding-top: 200px;
    padding-left: 20px; }

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3em;
  overflow: hidden;
  background-color: #333;
  opacity: 0.9; }

.nav-buttons {
  display: inline-flex;
  float: right;
  width: 15em; }

.main-logo {
  display: inline-flex;
  float: left;
  margin-top: 0.7em;
  margin-left: 2em;
  color: #fff; }

.heading {
  width: 100%;
  font-family: Merriweather, georgia, serif;
  font-size: 2rem; }
  .heading__um {
    padding-top: 20px;
    padding-bottom: 20px; }
  .heading--one {
    font-size: 3rem; }
  .heading--two {
    padding-top: 9em;
    font-size: 2rem; }
  .heading--three {
    font-size: 1rem; }
    .heading--three__um {
      font-size: 2.5rem; }

.text p {
  padding-bottom: 20px; }

.information {
  margin-top: 9em; }

.profile-text p {
  text-align: center; }

.profile-text h3 {
  text-align: center; }

blockquote {
  text-align: left;
  float: right;
  padding-top: 2rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  font-style: italic; }

blockquote p {
  font-size: 1rem; }

a {
  color: #fff;
  text-decoration: none;
  /* no underline */ }

.button {
  display: inline-block;
  width: 100%;
  max-width: 256px;
  padding: 7px 5px;
  margin: 3px;
  margin-bottom: 3px;
  overflow: hidden;
  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 1rem;
  color: #eee;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 2px; }
  .button:hover {
    color: #eee;
    background-color: #333; }
  .button--inverted {
    color: #666;
    background-color: #eee; }
  .button--inverted:hover {
    color: #333;
    background-color: #ccc; }
  .button--disabled, .button--disabled:hover {
    color: #999;
    background-color: #eee;
    border-color: #eee; }
